/* iPhone 5 / SE (350px para baixo) */
@media only screen and (max-width: 336px) {

    .c_1{
        height: 420px;
    }

    h1{
        font-size: 1.8em;
    }

    button{
        font-size: 1.4em;
        letter-spacing: 0px;
    }

    a img{
        margin-bottom: -6px;
    }
}