@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #f1f1f1;
}

header{
    background-color: #2f4538;
    height: 60px;
    padding: 6px 0px;
}

h1{
    color: white;
    text-align: center;
    letter-spacing: 7px;
    font-size: 1.8em;
    padding: 5px;
    font-weight: bold 800;
}

main{
    margin: 5%;
}

fieldset{
    background-color: white;
    width: 100%;
    border: 1px solid black;
    border-radius: 25px;
}

/* AMOSTRA */

.field-amostra{
    background-color: white;
    height: 220px;
    display: flex;
}

.amostra_img{
    height: 220px;
    padding: 10px;
}
.descricao{
    padding: 10px 10px 10px 0;
}

h2{
    color: black;
    text-align: start;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-weight: bold 800;
}

.preco{
    color: rgb(0, 189, 0);
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: bold;
    padding: 5px 0px;
}

.menor{
    font-size: 0.85em ;
    padding: 7px 0px;
}

/* AMOSTRA */